<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />

    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.mask.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery-ui.min.js" ></script>

    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js" ></script>

  </head>
  <body>

  <%- include('../partials/nav', {active: "navReports"}); %>

    <div class="container mainContainer">
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <h2 class="text-center border border-dark rounded">Relatório Por Período</h2>
        </div>
      </div>
      <div class="row align-items-center"> <%# Período inicial e final %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
          <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
              <p class="mb-0">Período do Exame</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
              <div class="form-label-group">
                <input type="date" name="inputInitialAssessmentDate" id="inputInitialAssessmentDate" class="dateCalendar form-control" placeholder="Data Inicial*" required>
                <label for="inputInitialAssessmentDate">Data Inicial<span class="requiredField">*</span></label>
              </div>
              <label for="inputInitialAssessmentDate" class="error"></label>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
              <div class="form-label-group">
                <input type="date" name="inputFinalAssessmentDate" id="inputFinalAssessmentDate" class="dateCalendar form-control" placeholder="Data Final*" required>
                <label for="inputFinalAssessmentDate">Data Final<span class="requiredField">*</span></label>
              </div>
              <label for="inputFinalAssessmentDate" class="error"></label>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 ml-auto mb-3">
          <fieldset id="fieldRbGenre">
            <legend>Gênero<span class="requiredField">*</span></legend>
            <div class="form-check-inline">
              <label class="form-check-label mb-3">
                <input type="radio" class="option-input radio" name="rbGenre" value="1" required>Masculino
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label mb-3">
                <input type="radio" class="option-input radio" name="rbGenre" value="2">Feminino
                <span class="checkmark"></span>
              </label>
            </div>
          </fieldset>
          <label for="rbGenre" class="error" id="labelErrorRadioButton"></label>
        </div>
      </div>
      <div class="row align-items-center"> <%# Data de Nascimento inicial e final %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
          <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
              <p class="mb-0">Período de Nascimento</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
              <div class="form-label-group">
                <input type="date" name="inputInitialBirthDate" id="inputInitialBirthDate" class="dateCalendar form-control" placeholder="Data Inicial*" required>
                <label for="inputInitialBirthDate">Data Inicial<span class="requiredField">*</span></label>
              </div>
              <label for="inputInitialBirthDate" class="error"></label>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
              <div class="form-label-group">
                <input type="date" name="inputFinalBirthDate" id="inputFinalBirthDate" class="dateCalendar form-control" placeholder="Data Final*" required>
                <label for="inputFinalBirthDate">Data Final<span class="requiredField">*</span></label>
              </div>
              <label for="inputFinalBirthDate" class="error"></label>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 mx-auto">
            <div class="row align-items-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
                <p class="mb-0">Conduta</p>
              </div>
            </div>
          <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
              <div class="form-label-group">
                <select name="inputBehavior" id="inputBehavior" class="form-control" required>
                  <option disabled selected value="">Selecione</option>
                  <option value="1">Não apresenta alteração de frênulo lingual</option>
                  <option value="2">Alteração de frênulo lingual sem interferência na mobilidade da língua</option>
                  <option value="3">Frenotomia sugerida</option>
                  <option value="4">Retornar para monitoramento</option>
                </select>
                <label for="inputBehavior">Conduta<span class="requiredField">*</span></label>
              </div>
              <label for="inputBehavior" class="error"></label>
            </div>
          </div>
        </div>
      </div>

    </div> <%# Containner %>

    <%- include ('../partials/footer') %>
