    <div class="container finalFooter">

    </div> <%# Containner %>
    <footer class="footer fixed-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto" id="col-footer">
                    <p>
                        <img src="/images/prefeituraOsorio.png" class="img-fluid"  alt="Logo da Prefeitura de Osório">
                        Prefeitura Municipal de Osório
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>