<div class="dialogJquery" id="dialog-message" title="Título">
    <p></p>
</div>

<div class="dialogJquery" id="dialog-confirm" title="Confirmação">
  <p>
  	<span class="ui-icon ui-icon-alert"></span>
  	<span id="dialogMsg"></span>
  </p>
</div>