<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />
    <link rel="stylesheet" href="/stylesheets/assessmentExtract.css" />
    <link rel="stylesheet" href="/stylesheets/print.css" />

    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.mask.min.js" ></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery-ui.min.js" ></script>

    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js" ></script>
    <script>
      let patientId = '<%= patientId%>';
      let assessmentId = '<%= assessmentId%>';
    </script>
    <script type="text/javascript" src="/javascripts/model/Patient.js" ></script>
    <script type="text/javascript" src="/javascripts/controllers/assessmentExtract.js" ></script>

  </head>
  <body>

  <!--<%- include('../partials/nav', {active: "navAssessment"}); %>-->


  <div class="container mainContainer"> <%# Containner Relatório Final 1 %>
    <div class="border border-dark mx-auto mb-3">
      <div class="row align-items-center">  <%# Linha do título do Relatório Final %>
        <div class="col-3 col-lg-3 mx-auto">
          <img class="titleImg" src="/images/prefeituraOsorio.png">
        </div>
        <div class="col-6 col-lg-6 mx-auto">
          <h5 class="text-center">
            ESTADO DO RIO GRANDE DO SUL<br>
            PREFEITURA MUNICIPAL DE OSÓRIO <br>
            SECRETARIA MUNICIPAL DE SAÚDE <br>
            SERVIÇO DE FONOAUDIOLOGIA
          </h5>
        </div>
        <div class="col-3 col-lg-3 mx-auto">
          <img class="titleImg float-right" src="/images/linguinha.png">
        </div>
      </div>
    </div>
    <div class="border border-dark mx-auto py-2">
      <div class="row align-items-center mx-auto">
        <div class="col-lg-8 mx-auto">
          <p>Nome: <span id="resName">Nome</span></p>
        </div>
        <div class="col-lg-4 mx-auto">
          <p>Gênero: <span id="resGenre">Gênero</span></p>
        </div>
      </div>
      <div class="row align-items-center mx-auto">
        <div class="col-lg-8 mx-auto">
          <p>Nome da mãe: <span id="resMotherName">nome da mae</span></p>
        </div>
        <div class="col-lg-4 mx-auto">
          <p>Data de Nascimento: <span id="resBirthDate">XX/XX/XXXX</span></p>
        </div>
      </div>
      <div class="row align-items-center mx-auto">
        <div class="col-lg-8 mx-auto">
          <p>Nome do Pai: <span id="resFatherName">nome do pai</span></p>
        </div>
        <div class="col-lg-4 mx-auto">
          <p>Data do Exame: <span id="resAssessmentDate">XX/XX/XXXX</span></p>
        </div>
      </div>
    </div>
    <div class="row align-items-center my-1">
      <div class="col-lg-12 mx-auto">
        <h4 class="text-left px-5 mb-0">Protocolo de Avaliação do Frênulo Lingual para Bebês (Martinelli, 2013)</h4>
      </div>
    </div>
    <div class="row border border-dark align-items-center mx-auto"> <%# Descrição da Pontuação %>
      <div class="col-lg-3 mx-auto report-title align-items-center">
        <h5 class="text-center">HISTÓRIA CLÍNICA</h5>
      </div>
      <div class="col-lg-9 mx-auto report-content">
        <div class="row">
          <div class="col-lg-6">
            <p class="mb-0">Antecedentes Familiares: <span id="resFamilyHistory">resposta</span></p>
            <p class="mb-0">Quem e qual Problema: <span id="resProblemDescription"> </span></p>
            <p class="mb-0">Problemas de Saúde: <span id="resPatientHealthProblem">resposta</span></p>
            <p class="mb-0">Quais: <span id="resHealthProblemDescription"> </span></p>
          </div>
          <div class="col-lg-6 mx-auto">
            <p class="mb-0">Amamentação? <span id="resBreastfeeding">resposta</span></p>
            <ul class="mb-0">
              <li>Tempo entre as mamadas: <span id="resBreastfeedingTime">resposta</span></li>
              <li>Cansaço para mamar? <span id="resBreastfeedingTiredness">resposta</span></li>
              <li>Mama um pouquinho e dorme? <span id="resBreastfeedingSleep">resposta</span></li>
              <li>Vai soltando o mamilo? <span id="resReleasingNipple">resposta</span></li>
              <li>Morde o mamilo? <span id="resBiteNipple">resposta</span></li>
            </ul>
            <p class="mb-0">Observações: <span id="resObsBreastfeeding"> </span></p>
          </div>
          <div class="row px-1">
            <div class="col-lg-12 mx-auto">
              <p class="font-weight-bold">
                TOTAL DE PONTOS: <span class="badge badge-pill" id="resClinicalHistoryPoints">resposta</span>. Quando a soma da História Clínica for <u>igual ou maior que 4</u>,
                pode-se considerar a interferência do frênulo nos movimentos da língua.
              </p>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="row align-items-center report-row-middle mx-auto"> <%# Descrição da Pontuação %>
      <div class="col-lg-3 mx-auto report-title align-middle">
        <h5 class="text-center my-1">EXAME CLÍNICO</h5>
      </div>
      <div class="col-lg-9 mx-auto report-content">
        <h5 class="font-weight-bold mt-3">PARTE I - AVALIAÇÃO ANATOMOFUNCIONAL</h5>
        <ol>
          <li>Postura de lábios em repouso: <span id="resQuestionOne">resposta</span></li>
          <li>Tendência do posicionamento da língua durante o choro: <span id="resQuestionTwo">resposta</span></li>
          <li>Forma da ponta da língua quando elevada durante o choro: <span id="resQuestionThree">resposta</span></li>
        </ol>
        <p class="font-weight-bold">
          TOTAL DE PONTOS: <span class="badge badge-pill" id="resQuestionsOneToThreePoints">resposta</span>. Quando a soma dos itens 1, 2 e 3 for <u>igual ou maior que 4</u>,
          pode-se considerar a interferência do frênulo nos movimentos da língua.
        </p>
        <ol start="4">
          <li>Frênulo da língua: <span id="resQuestionFour">resposta</span></li>
          <ol>
            <li class="subLiItem">4.1. Espessura do frênulo: <span id="resQuestionFourOne">resposta</span></li>
            <li class="subLiItem">4.2. Fixação do frênulo na face sublingual (ventral) da língua: <span id="resQuestionFourTwo">resposta</span></li>
            <li class="subLiItem">4.3. Fixação do frênulo no assoalho da boca: <span id="resQuestionFourThree">resposta</span></li>
          </ol>
        </ol>
        <p>Observações: <span id="resQuestionFourComments"> </span></p>
        <p class="font-weight-bold">
          TOTAL DE PONTOS (Frênulo): <span class="badge badge-pill" id="resQuestionFourPoints">resposta</span>. Quando a soma do item 4 for <u>igual ou maior que 3</u>,
          pode-se considerar a interferência do frênulo nos movimentos da língua.
        </p>
        <p class="font-weight-bold">
          TOTAL DE PONTOS (Frênulo + Choro): <span class="badge badge-pill" id="resQuestionsOneToFourPoints">resposta</span>. Quando a soma dos itens 1, 2, 3 e 4 for <u>igual ou maior que 7</u>,
          pode-se considerar a interferência do frênulo nos movimentos da língua.
        </p>
        <h5 class="font-weight-bold mt-3">PARTE II - AVALIAÇÃO DA SUCÇÃO NÃO NUTRITIVA E NUTRITIVA</h5>
        <ol>
          <li>Sucção não nutritiva:</li>
          <ol>
            <li class="subLiItem">1.1. Movimento da língua: <span id="resPartTwoQuestionOne">resposta</span></li>
          </ol>
          <li>Sucção nutritiva na amamentação:</li>
          <ol>
            <li class="subLiItem">2.1. Ritmo na sucção: <span id="resPartTwoQuestionTwoOne">resposta</span></li>
            <li class="subLiItem">2.2. Coordenação entre sucção / deglutição / respiração: <span id="resPartTwoQuestionTwoTwo">resposta</span></li>
            <li class="subLiItem">2.3. "Morde" o mamilo: <span id="resPartTwoQuestionTwoThree">resposta</span></li>
            <li class="subLiItem">2.4. Estalos de língua durante a sucção: <span id="resPartTwoQuestionTwoFour">resposta</span></li>
          </ol>
        </ol>
        <p>Observações: <span id="resObsSuction"> </span></p>
        <p class="font-weight-bold">
          TOTAL DE PONTOS: <span class="badge badge-pill" id="resPartTwoQuestionPoints">resposta</span>. Quando a soma da avaliação da sucção não nutritiva e nutritiva for <u>igual ou maior que 2</u>,
          pode-se considerar a interferência do frênulo nos movimentos da língua.
        </p>
      </div>
    </div>
    <div class="row align-items-center border border-dark mx-auto"> <%# Descrição da Pontuação %>
      <div class="col-lg-3 mx-auto report-title align-middle">
        <h5 class="text-center my-1">RESULTADO</h5>
      </div>
      <div class="col-lg-9 mx-auto report-content">
        <p class="font-weight-bold mt-3">
          TOTAL DE PONTOS (exame clínico): <span class="badge badge-pill" id="resClinicalAssessmentPoints">resposta</span>. Quando a soma do exame clínico for <u>igual ou maior que 9</u>,
          pode-se considerar a interferência do frênulo nos movimentos da língua.
        </p>
        <p class="font-weight-bold">
          TOTAL DE PONTOS (história e exame clínico): <span class="badge badge-pill" id="resHistoryAssessmentPoints">resposta</span>. Quando a soma da história e do exame clínico for <u>igual ou maior que 13</u>,
          pode-se considerar a interferência do frênulo nos movimentos da língua.
        </p>
        <p>Observações: <span id="resObsFinal"> </span></p>
        <p class="font-weight-bold mt-3">CONDUTA: <span id="resBehavior">resposta</span></p>
        <p>Descrição: <span id="resBehaviorDescription"> </span></p>
        <p class="mt-5 text-center mb-0">____________________________________</p>
        <p class="text-center my-0 py-0 mb-0" id="resUserFullName">nome</p>
        <p class="text-center my-0 py-0 mb-0" id="resUserOccupation">fonoaudióloga</p>
        <p class="text-center my-0 py-0 mb-0" id="resUserRegistry">registro</p>
      </div>
    </div>
  </div> <%# FIM Containner Relatório Final 1 %>


  <div class="container finalContainer noPrint"> <%# Containner Botões %>
    <div class="row align-items-center"> <%# Descrição da Pontuação %>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2 mr-auto">
        <button class="btn btn-primary btn-block text-uppercase" type="button" id="prevBtn" >Fechar</button>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2 ml-auto">
        <button class="btn btn-primary btn-block text-uppercase" type="button" id="nextBtn" >Imprimir</button>
      </div>
    </div>
  </div> <%# Containner Botões %>

  <% include ../partials/footer %>
