<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/nav.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <link rel="stylesheet" href="/stylesheets/text.css" />
  <style>
  p {text-indent: 4em;}
  </style>
  <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js" ></script>
  <script type="text/javascript" src="/javascripts/jquery/jquery.mask.min.js" ></script>
  <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js" ></script>

</head>
<body>

  <%- include('partials/nav', {active: "home"}); %>

  <div class="container mainContainer">
    <div class="row align-items-center">  <%# Linha do título%>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <h2 class="text-center border border-dark rounded">Teste da Linguinha - Versão 1.2.1-Beta de 17/03/2021</h2>
      </div>
    </div>
    <div class="row align-items-center">  
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <p class="my-2 text-indent-8">Pop-ups de confirmação e mensagem padronizados em todo o sistema</p>
      </div>
    </div>
    <div class="row align-items-center">  <%# Linha do título%>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <p class="my-2">Efetuadas correções de bugs na edição de usuários e trocas de senha</p>
      </div>
    </div>
    <div class="row align-items-center">  <%# Linha do título%>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <p class="my-2">Melhorias no formulário do teste, como ocultação de campos de forma dinâmica de acordo com a opção selecionada</p>
      </div>
    </div>
    <div class="row align-items-center">  <%# Linha do título%>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <p class="my-2">Melhorias na lógica do servidor (backend) e do cliente (frontend) na edição de pacientes e exames.</p>
      </div>
    </div>
    <div class="row align-items-center">  <%# Linha do título%>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <p class="my-2">Retirada dos campos de observação na impressão dos testes. Campos condicionados não necessários foram ocultados no extrato e impressão.</p>
      </div>
    </div>
        <div class="row align-items-center">  <%# Linha do título%>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <p class="my-2">Como as melhorias foram grandes e complexas, realizei diversos testes e tudo funcionou conforme esperado. Qualquer problema, informem-me, por favor.</p>
      </div>
    </div>
    <div class="row align-items-center">  <%# Linha do título%>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <p class="my-2">Att.</p>
      </div>
    </div>
    <div class="row align-items-center">  <%# Linha do título%>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <p class="my-2">Alcieres</p>
      </div>
    </div>

    <div class="container mainContainer">
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <h2 class="text-center border border-dark rounded">Versão 1.1.1-Beta - Teste da Linguinha</h2>
        </div>
      </div>
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <p class="my-2 text-indent-8">Corrigida a imagem trocada na questão 4.2.</p>
        </div>
      </div>
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <p class="my-2">As alterações e exibições em exames de pacientes foram regularizadas. Agora é possível alterar um exame sem bug de gravação em qualquer exame de um paciente.</p>
        </div>
      </div>
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <p class="my-2">Adicionado o item "Alteração de frênulo lingual sem interferência na mobilidade da língua" no campo "conduta" do exame.</p>
        </div>
      </div>
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <p class="my-2">Na tela de "Buscar Paciente", agora é possível buscar por parte do nome no campo "Nome" ou "Nome da mãe". Por exemplo: se for digitado "Maria" no campo "nome", serão buscados todos os pacientes que contenham "MARIA" em qualquer parte de seu nome ("Maria Rita", "Ana Maria", etc.)</p>
        </div>
      </div>
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <p class="my-2">Testei as alterações na base de testes local que possuo e funcionaram corretamente. Qualquer problema ou inconformidade, avisem-me, por favor. Continuarei implementando melhorias na lógica do sistema. Avisarei sobre qualquer mudança.</p>
        </div>
      </div>
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <p class="my-2">Att.</p>
        </div>
      </div>
      <div class="row align-items-center">  <%# Linha do título%>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
          <p class="my-2">Alcieres</p>
        </div>
      </div>

      <div class="container mainContainer">
        <div class="row align-items-center">  <%# Linha do título%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
            <h2 class="text-center border border-dark rounded">Versão Beta 1 - Teste da Linguinha</h2>
          </div>
        </div>
        <div class="row align-items-center">  <%# Linha do título%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
            <p class="my-2 text-indent-8">Nessa versão inicial já é possível executar o teste da linguinha, editar e excluir os exames e pacientes cadastrados.</p>
          </div>
        </div>
        <div class="row align-items-center">  <%# Linha do título%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
            <p class="my-2">Na parte de usuários, estão habilitados dois tipos: o usuário comum e o administrador. Em ambos é possível realizar e editar os exames, no entanto, somente o(s) administrador(es) podem cadastrar e editar usuários.</p>
          </div>
        </div>
        <div class="row align-items-center">  <%# Linha do título%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
            <p class="my-2">Podemos marcar uma reunião ou outra maneira de contato remoto para que eu ensine a utilizar o sistema ou dirimir qualquer dúvida.</p>
          </div>
        </div>
        <div class="row align-items-center">  <%# Linha do título%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
            <p class="my-2">Bugs e inconformidades podem ser reportados pelo Whatsapp (no grupo que criamos) ou no e-mail alcieres@gmail.com, como preferirem. Enquanto eu estiver em São Paulo estarei bem limitado para fazer correções por falta de estrutura e tempo, mas o que eu puder corrigir já o farei. Deverei retornar ao RS em meados de janeiro para retomar minhas obrigações.</p>
          </div>
        </div>
        <div class="row align-items-center">  <%# Linha do título%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
            <p class="my-2">Espero que gostem!</p>
          </div>
        </div>
        <div class="row align-items-center">  <%# Linha do título%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
            <p class="my-2">Att.</p>
          </div>
        </div>
        <div class="row align-items-center">  <%# Linha do título%>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
            <p class="my-2">Alcieres</p>
          </div>
        </div>

      </div> <%# Containner %>

      <%- include ('partials/footer') %>
